<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit-Article</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans%3A300,400,600,700"
      rel="stylesheet"
    />
    <link
      href="https://cdn.quilljs.com/1.0.0/quill.snow.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/text-editor.css" />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('../partials/flash')%>
    <%- include('../partials/navbar')%>
    <form
      method="POST"
      action="/articles/<%= article._id %>?_method=PUT"
      enctype="multipart/form-data"
    >
    

      <!-- Create the editor container -->
<div id="tooltip-controls">
        <button class="tooltip-1" id="bold"><i class="fa fa-bold"></i></button>
        <button class="tooltip-1" id="italic"><i class="fa fa-italic"></i></button>
        <button class="tooltip-1" id="link"><i class="fa fa-link"></i></button>
        <button class="tooltip-2" id="header-1"><i class="fa fa-header"><sub>1</sub></i></button>
        <button class="tooltip-2" id="header-2"><i class="fa fa-header"><sub>2</sub></i></button>
        <button class="tooltip-2" id="header-3"><i class="fa fa-header"><sub>3</sub></i></button>
        <button class="tooltip-2" id="blockquote"><i class="fa fa-quote-right"></i></button>
      </div>
      <div id="sidebar-controls">
        <button id="show-controls"><i class="fa fa-plus"></i></button>
        <span class="controls">
          <button id="image-button"><i class="fa fa-camera"></i></button>
        </span>
      </div>
      <input name="content" type="hidden" />
      <div id="editor-container" class="container">
        <h1><%= article.title  %> </h1>
        <%- article.content  %> 
      </div>

            <!-- Meta deta And SEO inputs -->
      <div class="seo-inputs ">
        <h2 class="seo-heading">Edit These</h2>
      <div>
        <input type="hidden" type="text" name="title" placeholder="title" />
      </div>
  
      <div>
        <label class="label" for="description">Edit Description*</label>
        <textarea id="description" rows="3" type="text" name="description" value="<%= article.description %> " placeholder="Description" ></textarea>
      </div>
        <div>
          <label class="label" for="tagline">Edit Tagline*</label>
          <input id="tagline" value="<%=article.tagline%>" type="text" name="tagline" placeholder="Tagline" />
        </div>

        
        <div>
          <label class="label" for="keywords">Edit Few Keywords*</label>
          <input value="<%= article.keywords  %>" id="keywords" type="text" name="keywords" placeholder="Add keywords" />
        </div>

  
        <div>
          <label class="label" for="heroImage">Change Hero-Image*</label>
          <input type="file" name="heroImage" id="heroImage" placeholder="Add Image Link" />
        </div>
        </div>
      <button class="btn--publish" type="submit">Update Now</button>
    </form>

    <!-- Include the Quill library -->

    <!-- Initialize Quill editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script src="//cdn.quilljs.com/latest/quill.min.js"></script>
    <script src="/js/text-editor.js"></script>
  </body>
</html>
