<% layout('layout/boilerplate') -%>

<!-- <h1 class="index-heading">An Overview</h1> -->

<section class="section--posts">
  <% articles.forEach(article=>{ %>
  <article class="card">
    <a href="/articles/<%= article.slug %>">
      <section class="card__header">
        <img
          class="articleImg"
          src="<%= article.heroImage  %> "
          alt="{post.title}"
        />
      </section>
      <section class="card__body">
        <img src="<%= article.heroImage  %>" class="card__bg-image" alt="" />
        <div class="glass-2">
          <!-- <div class="author grid">
            <div class="author__div">
              <div class="author__img">
                <img src="<%= article.heroImage %> " alt="" />
              </div>
              <div class="author__div2">
                <span class="author__name"
                  ><%= article.author.name.split(" ")[0] %></span
                >
                <span class="publish-date"><%= article.datePublished %> </span>
              </div>
            </div>
          </div> -->
          <h2 class="card__title line-clamp-2"><%= article.title %></h2>
          <p class="card-text line-clamp-3"><%= article.description %></p>
          <div class="category">
            <label class="tags tags--filled"><%=article.category.title%></label>
          </div>
        </div>
      </section>
    </a>
  </article>
  <% }) %>
</section>
