<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= article.title %></title>
    <meta name="description" content="<%= article.description %> " />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <%- include('../partials/flash')%>
    <%- include('../partials/navbar')%>
    
    <% if(currentAuthor &&
    currentAuthor._id.equals(article.author._id)){ %>
    <button>
      <a href="/articles/<%= article._id %>/edit">Edit Article</a>
    </button>
    <% } %>
    <div class="article__header">
      <div class="article__bg-image">
        <img src="<%= article.heroImage  %>" alt="" />
      </div>
      <div class="article__info">
        <a
          class="tags tags--filled tags--big"
          href="/categories/<%= article.category._id %>"
          ><%=article.category.title%></a
        >
        <h1 class="article__title"><%= article.title %></h1>
        <span class="article__tagline"><%= article.tagline %></span>
      </div>
    </div>
    <article class="article__body">
      <div class="article__layout">

      <div class="author-box--desktop">
        <div class="author sticky-container">
          <img src="https://media.licdn.com/dms/image/D4D03AQHd6LmaX_AL-g/profile-displayphoto-shrink_400_400/0/1673347814750?e=1680134400&v=beta&t=amDenRkzAQirxXdvIpikH3PGsrXDieGommkK7QNj4Ak" alt="">
          <div class="author__info">
            <p class="author__name"><%=article.author.name%></p>
            <span class="author__about line-clamp-2">Blockchain, Crypto and Web 3 writer. Connect with me if you are looking to elevate your content game.</span>
             <% if(article.dateLastUpdated){ %>
            <p class="publish-date"> Updated on <%= article.dateLastUpdated %>
            <%}else{%>
            <p class="publish-date">Published on <%= article.datePublished %></p>
            <%}%>
          </div>
       </div>
      </div>

        <div class="article">
          <img
            class="article__heroImage"
            src="<%= article.heroImage%>"
            alt=""
          />
          <%- article.content%>
          
          <div id="author-box" class="author-box--mobile">
            <div class="author">
              <img src="https://media.licdn.com/dms/image/D4D03AQHd6LmaX_AL-g/profile-displayphoto-shrink_400_400/0/1673347814750?e=1680134400&v=beta&t=amDenRkzAQirxXdvIpikH3PGsrXDieGommkK7QNj4Ak" alt="">
              <div class="author__info">
                <% if(article.dateLastUpdated){ %>
                <p class="publish-date"> Updated on <%= article.dateLastUpdated %>
                <%}else{%>
                <p class="publish-date">Published on <%= article.datePublished %></p>
                <%}%>
                <p class="author__name"><%=article.author.name%></p>
                <span class="author__about line-clamp-2">Blockchain, Crypto and Web 3 writer. Connect with me if you are looking to elevate your content game.</span>
              </div>
            </div>
          </div>
        </div>

        <sidebar>
          <%- include('../partials/sidebar')%>
        </sidebar>

      </div>



    </article>

    <% if(currentAuthor && currentAuthor._id.equals(article.author._id)){ %>
    <form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE Article</button>
    </form>
    <% } %> <%- include('../partials/footer')%>
    <script src="/js/main.js"></script>
  </body>
</html>
